<h3>String Interpolation</h3>
<p>
  {{stringInterpExample}}
</p>
<br/>

<h3>Property Binding</h3>
<input [value]="defaultInputValue">
<p [ngClass]="{redBorder: onTest()}">Styled Paragraph</p>
<p [ngStyle]="{color: 'blue'}">ng Style : Styled Paragraph</p>

<h3>Custom Property Binding</h3>
<app-property-binding [result]="10" ></app-property-binding>

<h3>Event Binding</h3>
<app-event-binding></app-event-binding>

<h3>Custom Event Binding</h3>
<app-custom-event-binding (clickable)="onClicked($event)"></app-custom-event-binding>

<h3>Two Way Data Binding</h3>
<app-two-way-binding></app-two-way-binding>
